body {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 96vh;
  font-family: Arial, Helvetica, sans-serif;
}

.game-grid {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box.winner {
  background-color: rgb(102, 146, 102);
}

.border-right {
  border-right: 5px solid black;
}

.border-bottom {
  border-bottom: 5px solid black;
}

.O {
  border: 5px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.winner .O {
  border-color: white;
}

.X {
  height: 50px;
  width: 50px;
  position: relative;
}

.X::after,
.X::before {
  position: absolute;
  content: "";
  height: 60px;
  width: 5px;
  background-color: black;
  left: 40%;
  top: -10%;
}

.winner .X::after,
.winner .X::before {
  background-color: white;
}

.X::after {
  transform: rotate(45deg);
  transform-origin: center;
}

.X::before {
  transform-origin: center;
  transform: rotate(-45deg);
}

.d-none {
  visibility: hidden;
}

#restart {
  margin: 2rem;
  height: 40px;
  font-size: 1rem;
  border: 2px rgb(17, 51, 116) solid;
}

#result {
  font-size: 2rem;
  height: 2rem;
  color: rgb(24, 85, 24);
}

fieldset {
  margin: 5rem;
  width: 300px;
  padding: 1rem;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-top: 1rem;
}

label {
  margin-right: 2rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer img {
  width: 2rem;
  margin: 1rem 0.25rem;
  aspect-ratio: 1/1;
}
